{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.tokens.json", "*.resolver.json", "registry.json"],
      "options": { "printWidth": 120 }
    }
  ]
}
